body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
  }
  
  #header {
    background-color: #222;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropbtn {
    background-color: #222;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #444;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #content {
    flex: 1;
    display: flex;
  }
  
  #left, #middle, #right {
    flex: 1;
  }
  
  #left {
    background-color: #111;
    color: #fff;
    padding: 10px;
  }
  
  #middle {
    background-color: #111;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #right {
    background-color: #111;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .button-row {
    display: flex;
    margin-bottom: 5px;
  }
  
  .actionButton {
    display: inline-block;  
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    font-size: 14px;
    color: white;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
  }
  
  .actionButton:hover {
    background-color: rgb(0, 0, 255);
    color: black;
  }
  
  #footer {
    background-color: #222;
    padding: 10px;
    color: #fff;
  }


  #setupWindow {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  #helpWindow {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  #content {
    flex: 1;
    display: flex;
  }


  
  
  .closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: #ff0000;
    border: none;
    cursor: pointer;
  }

  .actionButtonSetup {
    display: inline-block;  
    width: 85px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 14px;
    color: white;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
  }
  
  .actionButtonSetup:hover {
    background-color: rgb(0, 0, 255);
    color: black;
  }

  #sequenceWindow {
    position: relative; /* Change from fixed to relative */
    background-color: #000000;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  #fixtureWindow {
    position: relative; /* Change from fixed to relative */
    background-color: #000000;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  .titleButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: white;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 15px;
    background-color: rgb(0, 0, 255);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .sequenceButton {
    display: inline-block;  
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: white;
    border: 2px solid rgb(70, 70, 70);
    background-color: rgb(99, 99, 99);
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
  }
  
  .sequenceButton:hover {
    background-color: rgb(37, 37, 37);
    color: black;
  }

  .fixtureButton {
    display: inline-block;  
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 12.5px;
    font-size: 12px;
    color: white;
    border: 2px solid rgb(70, 70, 70);
    background-color: rgb(99, 99, 99);
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
  }
  
  .fixtureButton:hover {
    background-color: rgb(37, 37, 37);
    color: black;
  }

  .text-white {
    color: white;
  }

  .typingBar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
  }
  
  .typingBar input {
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .typingBar button {
    margin-left: 5px;
  }
  
  
.sequenceButton.selectedSequence {
  background-color: #00ff00; /* Change to the desired background color when selected */
  color: black; /* Change to the desired text color when selected */
}

.fixtureButton.selectedFixture {
  background-color: #00ff00; /* Change to the desired background color when selected */
  color: black; /* Change to the desired text color when selected */
}

.fixtureButtonID {

  font-size: 0.0000000000001px;
}